/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.content-container {
  margin-bottom: 4vm;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90%;
  }
}

/*
  Header
*/

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* 保持标题居中 */
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  font-family: $sans-serif-font-family;
  background-color: rgb(242,244,250);
  text-align: center;
  position: relative; /* 使得子元素可以通过绝对定位调整 */
}

.header-logo {
  position: absolute;
  left: 100px; /* 通过 left 属性调整 logo 的位置，往右移动 */
}

.header-logo img {
  max-height: 80px; /* 调整 logo 的高度 */
  height: auto;
  width: auto;
}

.header-title {
  flex-grow: 1;
  margin: 0;
  text-align: center; /* 确保标题仍然居中 */
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: $body-color;
}

/*
  Menu
*/
.menu {
  padding-top: 2rem;
  display: block;
  background-color: rgb(242,244,250);
}

.menu-content {
  float: center;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1.5rem;
  padding-right: 30px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1.8rem;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 25px;
  }
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
  background-image: url('{{site.baseurl}}/assets/img/logo/ctf.png'); 
  background-repeat: no-repeat;
  background-position: left center; 
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}
